<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orkest"
        tools:targetApi="31">
        <activity
            android:name=".ShazamActivity"
            android:exported="true"
            android:label="@string/title_activity_shazam"
            android:theme="@style/Theme.Orkest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DeezerWelcomeActivity"
            android:exported="true"
            android:label="Deezer"
            android:theme="@style/Theme.Orkest">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="orkest"
                    android:pathPrefix="/deezer/oauth"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.sharing.PlaylistActivity"
            android:exported="false"
            android:label="@string/title_activity_playlist"
            android:theme="@style/Theme.Orkest" />
        <activity
            android:name=".ui.feed.CreatePost"
            android:exported="false"
            android:label="@string/title_activity_create_post"
            android:theme="@style/Theme.Orkest" />
        <activity
            android:name=".ui.sharing.SharingComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_sharing_compose"
            android:theme="@style/Theme.Orkest">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.feed.CommentActivity"
            android:exported="true" />
        <activity android:name=".ui.profile.ProfileActivity" /> <!-- "adjustResize": to be able to scroll on the screen -->
        <activity
            android:name=".ui.FollowListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.EditProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.Orkest"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.authentication.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>